<!-- footer section -->
<container>
    <row class="footer" >
      <columns large="4">
        <a href="">{{uberEmail.TheFooter.LostItems}}</a>
        <a href=""><i class="fas fa-chevron-right"></i></a>
        <a href=""style="padding-left: 9px;"class="show-for-large" >&#124;</a>
      </columns>
      <columns large="4"class="show-for-large">
        <a href="">{{uberEmail.TheFooter.SUPport}}</a>
        <a href=""><i class="fas fa-chevron-right"></i></a>
        <a href=""  style="padding-left: 9px;width: 1px;height: 25px;" >&#124;</a>
      </columns>
      <columns  large="4">
        <a href="">{{uberEmail.TheFooter.Travel}}</a>
        <a href=""><i class="fas fa-chevron-right"></i></a>
      </columns>
    </row>
</container>
<!-- sub-footer section -->
<container>
    <row class="sub-footer">
        <columns>
        <img src="{{uberEmail.UbersuBFOOter.logofootUBER}}" alt="">
        <hr class="show-for-large">
        </columns>
    </row>
</container>
<!-- footer support -->
<container>
    <row class="footer-support">
        <columns>
            <a href="">{{uberEmail.FooTERforSUpport.ChangePW}}</a><br>
            <a href="">{{uberEmail.FooTERforSUpport.PrivatE}}</a><br>
            <a href="">{{uberEmail.FooTERforSUpport.CondiTIon}}</a>
        </columns>
        <columns>
            <span>{{uberEmail.FooTERforSUpport.CompanyName}}<br> 
                  {{uberEmail.FooTERforSUpport.SecondName}}<br>
                  {{uberEmail.FooTERforSUpport.compANYZIP}}
            </span>
        </columns>
    </row>
</container>
<container>
  <!-- disclaimer section -->
  <row class="disclaimer">
    <columns>
    <span>{{uberEmail.cOmPanyDisclaimer.SmallMessage}}</span>
    </columns>
  </row>
</container>